In [ ]:
'''
Lets Use Audience data for graph creation

REVIEW LATER: Bining criteria

TODO: Making graphs for brands, cities, countries, interests

'''

In [2]:
import pandas as pd

In [3]:
users  = pd.read_csv('../SocialTalk 2023/accounts.csv', on_bad_lines='skip', low_memory=False)

In [4]:
audience_ages = pd.read_csv('../SocialTalk 2023/accounts-audience-ages.csv')
audience_brands = pd.read_csv('../SocialTalk 2023/accounts-audience-brands.csv')
audience_cities = pd.read_csv('../SocialTalk 2023/accounts-audience-cities.csv')
audience_countries = pd.read_csv('../SocialTalk 2023/accounts-audience-countries.csv')
audience_interests = pd.read_csv('../SocialTalk 2023/accounts-audience-interests.csv')
audience_lookalikes = pd.read_csv('../SocialTalk 2023/accounts-audience-lookalikes.csv')
audience_genders = pd.read_csv('../SocialTalk 2023/accounts-audience-genders.csv')

In [5]:
audience_brands.describe()

         Account Id       Brand Id              %
count  3.538420e+05  353842.000000  353842.000000
mean   4.664900e+05     182.990219       0.015616
std    6.110933e+05     235.203422       0.018101
min    1.520000e+02      12.000000       0.005000
25%    1.229740e+05      42.000000       0.006649
50%    1.919020e+05      87.000000       0.009550
75%    5.462160e+05     207.000000       0.016401
max    2.915941e+06    1763.000000       0.607870

In [6]:
print(audience_brands.describe().loc['25%']['%'])
print(audience_brands.describe().loc['50%']['%'])
print(audience_brands.describe().loc['75%']['%'])

0.006649
0.00955
0.016401

In [ ]:
def BIN(x):
    if(x < audience_genders.describe().loc['25%']['MALE %']):
        return 'Low'
    elif(x >audience_genders.describe().loc['25%']['MALE %'] and x<audience_genders.describe().loc['75%']['MALE %']):
        return 'Medium'
    elif(x>audience_genders.describe().loc['75%']['MALE %'])
        return 'High'

In [ ]:
'''
Audience Gender: 
Male : high , medium, low
Female : high, medium, low
'''

In [67]:
def BIN(x):
    if(x < .33):
        return 'Low'
    elif(x < .66):
        return 'Medium'
    else:
        return 'High'

In [68]:
audience_genders['MALE %'] = audience_genders['MALE %'].apply(lambda x: BIN(x))
audience_genders['FEMALE %'] = audience_genders['FEMALE %'].apply(lambda x: BIN(x))

In [99]:
users = users.merge(audience_genders,how='left' ,left_on='Id',right_on = 'Account Id') #283493 rows which create nan

In [72]:
users[['MALE %','FEMALE %']].isna().sum()

MALE %      283493
FEMALE %    283493
dtype: int64

In [ ]:
'''
Audience Ages
high,medium,low
nan -> low
'''

In [88]:
audience_ages = pd.read_csv('../SocialTalk 2023/accounts-audience-ages.csv')

In [4]:
def BIN(x):
    if(x < .33):
        return 'Low'
    elif(x < .66):
        return 'Medium'
    elif(x <= 1):
        return 'High'
    else: 
        return 'Low'

In [90]:
for i in audience_ages.columns:
    if(i != 'Account Id'):
        audience_ages[i] = audience_ages[i].apply(lambda x: BIN(x))
        audience_ages.rename(columns = {i:'Audience-Age-' + i.replace(' ','_')}, inplace = True)

In [106]:
audience_ages

,Account Id,Audience-Age-13-17_%,Audience-Age-18-24_%,Audience-Age-25-34_%,Audience-Age-35-44_%,Audience-Age-45-64_%,Audience-Age-65-_%
0,151,Low,Low,Medium,Medium,Low,Low
1,152,Low,Medium,Medium,Low,Low,Low
2,153,Low,Medium,Medium,Low,Low,Low
3,154,Low,Medium,Medium,Low,Low,Low
4,155,Low,Medium,Low,Low,Low,Low
...,...,...,...,...,...,...,...
2657891,2936780,Low,Medium,Medium,Low,Low,Low
2657892,2936781,Low,Medium,Medium,Low,Low,Low
2657893,2936782,Low,Low,Medium,Low,Low,Low
2657894,2936783,Low,Low,Medium,Low,Low,Low
2657895,2936784,Low,Low,Medium,Low,Low,Low

In [103]:
users.drop(['Account Id'],axis=1,inplace=True)

In [102]:
users = users.merge(audience_ages,how='left' ,left_on='Id',right_on = 'Account Id')

In [96]:
users['Audience-Age-18-24_%'].isna().sum()

273261

In [104]:
audience_countries = pd.read_csv('../SocialTalk 2023/accounts-audience-countries.csv')

In [108]:
audience_countries[audience_countries['Account Id'] == 152].sum()

Account Id    3344.00000
Country Id    6313.00000
%                0.72021
dtype: float64

In [119]:
audience_countries.groupby('Account Id')['%'].sum()

Account Id
152        0.720210
153        0.705016
154        0.742611
155        0.766797
156        0.649664
             ...
2936780    0.981306
2936781    0.955853
2936782    0.797619
2936783    0.988800
2936784    0.975853
Name: %, Length: 2668575, dtype: float64

In [120]:
audience_brands

        Account Id  Brand Id         %
0              152        12  0.082833
1              152        13  0.080032
2              152        14  0.065626
3              152        15  0.050020
4              152        17  0.040816
...            ...       ...       ...
353837     2915941        92  0.005268
353838     2915941       335  0.005268
353839     2915941       492  0.005268
353840     2915941       188  0.005268
353841     2915941        85  0.005268

[353842 rows x 3 columns]

In [3]:
audience_interests = pd.read_csv('../SocialTalk 2023/accounts-audience-interests.csv', low_memory=False)

In [4]:
audience_interests.groupby('Account Id')['%'].sum()

Account Id
152        4.492996
153        3.975120
154        3.578262
155        2.845544
156        3.721348
             ...
2936780    1.531316
2936781    1.893155
2936782    1.608948
2936783    1.992295
2936784    2.471721
Name: %, Length: 2338474, dtype: float64

In [ ]:
'''
Audience_interests grouped by account_id and sumed up give value greater than 1
which indicated and audience have overlapping interests
'''

In [5]:
audience_interests['%'] = audience_interests['%'].apply(lambda x: BIN(x))

In [24]:
audience_interests = audience_interests[audience_interests['%'] != 'Low']

In [6]:
audience_interests['%'].value_counts()

Low       34835775
Medium     4835058
High        164844
Name: %, dtype: int64

In [7]:
brand_ids = pd.read_csv('../SocialTalk 2023/brands.csv', low_memory=False) # Shape (3792, 2)
interest_ids = pd.read_csv('../SocialTalk 2023/interests.csv', low_memory=False) # Shape (60, 2)

In [8]:
interest_ids['Name'] = interest_ids['Name'].str.replace(" ","_")
audience_interests['Interest'] = audience_interests['Interest Id'].map(interest_ids.set_index('Id')['Name'].to_dict())

In [9]:
audience_interests['Interest'] = 'Audience_interest=' + audience_interests['Interest'].astype(str) + ':'

In [25]:
audience_interests['label'] = audience_interests['Interest'] + audience_interests['%']

In [26]:
audience_interests['label'].value_counts()

Audience_interest=Friends,_Family_&_Relationships:Medium           1199908
Audience_interest=Camera_&_Photography:Medium                       751107
Audience_interest=Travel,_Tourism_&_Aviation:Medium                 719716
Audience_interest=Restaurants,_Food_&_Grocery:Medium                649946
Audience_interest=Toys,_Children_&_Baby:Medium                      348877
Audience_interest=Art_&_Design:Medium                               287190
Audience_interest=Sports:Medium                                     218374
Audience_interest=Beauty_&_Cosmetics:Medium                         216778
Audience_interest=Pets:Medium                                       145429
Audience_interest=Healthy_Lifestyle:Medium                           91971
Audience_interest=Electronics_&_Computers:Medium                     65367
Audience_interest=Shopping_&_Retail:Medium                           59431
Audience_interest=Beer,_Wine_&_Spirits:Medium                        35998
Audience_interest=Restaurants,_Food_&_Grocery:High                   33112
Audience_interest=Coffee,_Tea_&_Beverages:Medium                     30335
Audience_interest=Camera_&_Photography:High                          24812
Audience_interest=Art_&_Design:High                                  22843
Audience_interest=Pets:High                                          18876
Audience_interest=Beauty_&_Cosmetics:High                            13652
Audience_interest=Travel,_Tourism_&_Aviation:High                    13124
Audience_interest=Friends,_Family_&_Relationships:High               11127
Audience_interest=Toys,_Children_&_Baby:High                         11038
Audience_interest=Business_&_Careers:Medium                           8330
Audience_interest=Sports:High                                         7950
Audience_interest=Beer,_Wine_&_Spirits:High                           4286
Audience_interest=Jewellery_&_Watches:Medium                          3239
Audience_interest=Healthy_Lifestyle:High                              1989
Audience_interest=Clothes,_Shoes,_Handbags_&_Accessories:Medium       1678
Audience_interest=Shopping_&_Retail:High                               812
Audience_interest=Healthcare_&_Medicine:Medium                         721
Audience_interest=Coffee,_Tea_&_Beverages:High                         460
Audience_interest=Jewellery_&_Watches:High                             388
Audience_interest=Electronics_&_Computers:High                         250
Audience_interest=Television_&_Film:Medium                             156
Audience_interest=Gaming:Medium                                        132
Audience_interest=Fitness_&_Yoga:Medium                                103
Audience_interest=Activewear:Medium                                    100
Audience_interest=Music:Medium                                          88
Audience_interest=Business_&_Careers:High                               86
Audience_interest=Cars_&_Motorbikes:Medium                              48
Audience_interest=Clothes,_Shoes,_Handbags_&_Accessories:High           19
Audience_interest=Wedding:Medium                                        15
Audience_interest=Luxury_Goods:Medium                                   14
Audience_interest=Gaming:High                                            7
Audience_interest=Home_Decor,_Furniture_&_Garden:Medium                  6
Audience_interest=Healthcare_&_Medicine:High                             6
Audience_interest=Cars_&_Motorbikes:High                                 4
Audience_interest=Fitness_&_Yoga:High                                    2
Audience_interest=Tobacco_&_Smoking:Medium                               1
Audience_interest=Tobacco_&_Smoking:High                                 1
Name: label, dtype: int64