In [8]:
import pandas as pd
import numpy as np

In [9]:
users  = pd.read_csv('../SocialTalk 2023/accounts.csv', on_bad_lines='skip', low_memory=False) #We are encoutering some bad lines creating some error so we skip over them

In [10]:
users = users.drop_duplicates(subset=['Id'], keep='last')

In [13]:
sample_accounts = users[:20000]['Id']
sample = pd.read_excel('../SocialTalk2023Clean/accounts-examples.xlsx')['Account Id']
sample_accounts = pd.concat([sample,sample_accounts]).drop_duplicates(keep='first')

In [15]:
df = users[users['Id'].isin(sample_accounts)]

In [17]:
def get_user_lookup(df):
    df[['Id','Name','Followers','Estimated reach']].set_index('Id').to_json('user_lookup.json', orient='index')

In [19]:
get_user_lookup(df)

In [20]:
df[['Id','Name','Followers','Estimated reach']]

              Id                            Name  Followers  Estimated reach
0            151                  Tiago Oliveira        154              153
1            152                    Jason Derulo   22625181          1062314
2            153               Cristiano Ronaldo  550332150         18275483
3            154        Ronaldo de Assis Moreira   71552085          1435572
4            155                     Addison Rae   39861444          3587530
...          ...                             ...        ...              ...
1722699  1726148                    Memory Music     671000                0
1722701  1726150                              AQ     666000                0
1723151  1726600         Vou Mudar Para Portugal      61500                0
1723365  1726814                  Visit Portugal      40200                0
2822841  2828565  Pati Lemos|Tudo sobre Portugal     638617                0

[20043 rows x 4 columns]